 
.mailingList {
  display:flex;
  align-items: center;
  justify-content: center;
}
.envelope {
  color: #f0fb5c;
}
.mailingListForm {
  margin: 3em 0;
  padding:2em 2em;  
  height: 2em;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  color: rgba(224, 110, 214, 0.7);
}
.mailingListForm input{
  margin: .9em;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width:40 em;
}
.mailingListForm input{
  caret-color: white;
}
.mailingListForm button{
  /* margin: 2em; */
  width: 12em;
  bottom:00px;
  background: #ffffff3a;
  border: solid #f0fb5c 3px;
  font-family: 'Roboto', sans-serif; 
  color: #32e0ff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}
.mailingListForm button:hover {
  border: solid 3px #32e0ffef;
  color: #f0fb5c;
}
::-webkit-input-placeholder {
  color:rgba(224, 110, 214, 0.7);
}
:-moz-placeholder { /* Firefox 18- */
  color:rgba(224, 110, 214, 0.7);
}
::-moz-placeholder {  /* Firefox 19+ */
  color:rgba(224, 110, 214, 0.7);
}
:-ms-input-placeholder {  
  color:rgba(224, 110, 214, 0.7);
};
