 .mcSignup{
   display:flex;
   margin: 0 auto;
   width:35%;
   
 }

.mailingList {
  display:inline;
  
}
.envelope {
  display:inline-flex;
  color: #f0fb5c;
  padding:.1em;
}
.mailingListForm {
  display:block;
  padding:0em 1em 2em 2em;  
  height: 2em;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  color: rgba(224, 110, 214, 0.7);
}

.mailingListForm input{
  display:block;
  margin: .9em;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width:40 em;
}
.mailingListForm input{
  caret-color: white;
  color:white;
}
.input:focus{
  color:white;
}
.mailingListForm button{
  display:block;
  box-sizing: border-box;
  margin: 2em;
  width: 12em;
  margin:20px;
  background: #ffffff3a;
  border: solid #f0fb5c 3px;
  font-family: 'Roboto', sans-serif; 
  color: #32e0ff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}
.mailingListForm button:hover {
  border: solid 3px #32e0ffef;
  color: #f0fb5c;
}
.mcResponse {
  display:block;
  text-align:left;

}
::-webkit-input-placeholder {
  color:rgba(224, 110, 214, 0.7);
}
:-moz-placeholder { /* Firefox 18- */
  color:rgba(224, 110, 214, 0.7);
}
::-moz-placeholder {  /* Firefox 19+ */
  color:rgba(224, 110, 214, 0.7);
}
:-ms-input-placeholder {  
  color:rgba(224, 110, 214, 0.7);
};
