 
.mailingList {
  display:flex;
  align-items: basline;
  justify-content: center;
}
.envelope {
  color: #f0fb5c;
  width:500px;
}
.mailingListForm {
  padding:10px 10px;
  width:50%;
  height:200px;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  /* font-weight:900;  */
  color: white;
}
.mailingListForm input{
  margin: .2em;
  font-size: 25px;
  width:275px;
  
}
.mailingListForm button{
  margin: 2em;
  width: 12em;
  background: #ffffff3a;
  border: solid #f0fb5c 3px;
  font-family: 'Roboto', sans-serif; 
  color: #32e0ff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}
.mailingListForm button:hover {
  border: solid 3px #32e0ffef;
  color: #f0fb5c;
};
