.article {
  /* border: solid 3px red;  */
  box-sizing: inherit;
  background-color:#8a69d686;  
}
.teamBio {
  /* border: solid 3px blue; */
  position: relative;
  display: inline-block;
}
.teamBio img {
  width: 100%;
  object-fit: contain;
}
.teamBio img:hover {
  opacity: 0.5;
  cursor:pointer;
}
.teamList {
list-style-type: none;
display: grid;
align-items: initial;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 1em;
margin: 1em;
padding: .5em;
text-align: -webkit-match-parent;
}
.teamName {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
}
.bioDescription{
  margin:.25em;
  padding:.25em;
}
*,:after,:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
};

