.header{
  border:solid 3px red;
  padding: 0;
  background: -moz-linear-gradient(-70deg, #55cdb1 35%, #c168ba 55%, #ed2d9d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-70deg, #55cdb1 35%,#c168ba 55%, #ed2d9d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(125deg, #55cdb1 35%,#c168ba 55%,#ed2d9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 0;
  height: 6em;
  display: grid;
  grid-row-gap: 10px;
  width: 100%;
  height:300px;
  grid-template-columns: 2fr 1fr;
  background:  linear-gradient(
    rgba(85, 205, 177, 0.799),
    rgba(237, 45, 157, 0.761))
  , url(https://scontent-sea1-1.cdninstagram.com/vp/3e71b8e9750c24e8c8e4a18c3f547608/5D573D3C/t51.2885-15/e35/40268680_319556315485870_2604361007198288976_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com) center;
  background-repeat: no-repeat;
  horizontal-align: middle;
  margin:.25em;
  padding:.25em;
}
.header h2 {
  color: #8f5ace;
  margin:0;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  /* font-family: 'Faster One', cursive;*/
  /* font-family: 'Monofett', cursive;  */
  font-family: 'Paytone One', sans-serif;
  /* font-family: 'Lato', sans-serif;  */
   /* font-family: 'Roboto', sans-serif;  */
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
  font-style: oblique;  
  text-shadow: 2px 0 #f0fb5cce;
  letter-spacing: .33em;
  font-size: 3em;
}
.header h3 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  font-family: 'Lato', sans-serif; 
  color:#ffffff;
  text-align: right;
  letter-spacing: .25em;
}
.header h4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  margin:10px;
  font-family: 'Lato', sans-serif; 
  color:#ffffff;
  text-align: right;
  letter-spacing: .25em;
}
.header ul {
  font-size: 1em;
  
}
.header nav {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.header nav li {
  display: inline;
  list-style: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;  
  color: #32e0ffef;
  transition: all .2s ease-in-out; 
}
.header nav li:hover {
  color: #f0fb5cce;
  transform: scale(2.1);
  cursor: pointer;
}
.header button{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  margin: 4px 40px;
  width: 153px;
  background: #ffffff3a;
  border: solid #f0fb5c 3px;
  font-family: 'Roboto', sans-serif; 
  color: #32e0ff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}
.header button:hover {
  border: solid 3px #32e0ffef;
  color: #f0fb5c;
};





