.nav{
  position: relative; 
}
.nav li {
  display: inline-block;
  color: white;
  padding-right: 1em;
}
.nav li:hover {
  display: inline;
  color: black;
}
.linkers{
  text-decoration: none;
}
.nav li:hover{
  color: back;
}