.linkers{
  text-decoration: none;
}
.nav ul {
  position: relative; 
  list-style-type: none;
  margin:0;
  padding:0;
  height: 3em;
  display: flex;
  align-content: space-around;
  background:rgba(41, 41, 41, 0.753);
}
.nav li a {
  display: inline-block;
  padding: 1em;
  list-style: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;  
  color: #fdc32a;
  transition: all .2s ease-in-out; 
  text-decoration:none;
}
.nav ul li a:hover {
  color: white;
  transform: scale(1.1);
  cursor: pointer;
  text-decoration:none;
}
